#logo-wrapper {
  display: flex;
  position: absolute;
  top: 0px;
  right: 5px;
  width: 200px;
  height: 22px;
  margin: 3px;
}

#logo-custom {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  width: 200px;
}

[data-jp-theme-light='false'] #logo-custom {
  background-image: url(./logo/logo-dark.svg);
}

[data-jp-theme-light='true'] #logo-custom {
  background-image: url(./logo/logo-light.svg);
}
